html {
    display: flex;
}

.pageHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

article.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

section.shop {
    display: flex;
    margin: 2px;
    flex-basis: 30%;
    border: 1px solid black;

}